<div class="welcome-container">
  <div class="welcome-main">

      <div class="welcome-tilte">
        <h2 data-shadow='dang!'>Budget App</h2>
        <p> <i class="fa-solid fa-money-check-dollar fa-10x fa-flip" style="--fa-animation-duration: 5s;" ></i></p>
      </div>
  
      <div class="welcome-buttons">
        <p> <%= link_to "Sign in", new_user_session_path, :class => "welcome-login" %>  </p> 
       </div>
       <div class="signip-btn">
        <p> <%= link_to "Sign Up", new_user_registration_path, :class => "welcome-signup" %> </p> 
      </div>
  </div>
</div>